{% extends 'base.html' %}
{% block title %}Add Pet{% endblock %}

{% block body %}

<div class="container">
	<form id="add-pet" action='/add' method="POST">
		{{ form.hidden_tag() }}
		<div class="container" style="width:75%">
			<div class="mb-3">
				<h1>Add a Pet</h1>
			</div>
			<div class="row">
				<div class="col">
					<div class="mb-3">
						{{form.name.label(class_="form-label")}}*
						{{form.name(class_="form-control")}}
						{% for error in form.name.errors %}
							<small class="form-text text-danger">{{error}}</small>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="mb-3">
						{{form.species.label(class_="form-label")}}*
						{{form.species(class_="form-control")}}
						{% for error in form.species.errors %}
							<small class="form-text text-danger">{{error}}</small>
						{% endfor %}
					</div>
				</div>
				<div class="col">
					<div class="mb-3">
						{{form.age.label(class_="form-label")}}
						{{form.age(class_="form-control")}}
						{% for error in form.age.errors %}
							<small class="form-text text-danger">{{error}}</small>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="mb-3">
						{{form.photo_url.label(class_="form-label")}}
						{{form.photo_url(class_="form-control")}}
						{% for error in form.photo_url.errors %}
							<small class="form-text text-danger">{{error}}</small>
						{% endfor %}
					</div>
				</div>
			</div>	
			<div class="row">
				<div class="col">
					<div class="mb-3">
						{{form.notes.label(class_="form-label")}}
						{{form.notes(class_="form-control")}}
					</div>
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
			<a href="/" class="btn btn-secondary">Cancel</a>
		</div>
	</form>
</div>

{% endblock %}